// .header { 

//     border-bottom: 1px solid #ECECEC;
// }

// .header__box {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

@media screen and (max-width:767px) {
    .header {
        padding: 15px 15px;
        
    }
    
    .header__box {
            display: flex;
            justify-content: space-between;
            align-items: center;
    }
    
}